data/gurbani-database.sqlite
data/user-data.sqlite
data/user-data.sqlite-shm
data/user-data.sqlite-wal
data/embeddings.sqlite
data/embeddings.sqlite-shm
data/embeddings.sqlite-wal

node_modules/
.env
client/dist/
